* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: theme("colors.background");
    color: theme("colors.foreground");
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 300ms;
    &:hover {
        color: theme("colors.accent.DEFAULT");
    }
}

.accent-text {
    color: theme("colors.accent.DEFAULT");
}

.router-animation {
    transition: 300ms;
    opacity: 1;
    visibility: visible;
}

.router-animation.on {
    opacity: 0;
    visibility: hidden;
}

main {
    min-height: 80vh;
}

@media (max-width: 991px) {
    body {
        font-size: 16px;
    }
}

p {
    line-height: 1.5;
    a {
        color: theme("colors.accent.DEFAULT");
        text-decoration: underline;
    }
}

.home-page-section {
    margin-bottom: 50px;
}

.section-title {
    color: theme("colors.accent.DEFAULT");
    font-size: 3rem;
    font-weight: bold;
}

.admin-links {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: theme("colors.accent.DEFAULT");
    color: theme("colors.accent.foreground");
    font-weight: bold;
    padding: 10px;
    a:hover {
        color: theme("colors.background");
        text-decoration: underline;
    }
}

.code-block {
    width: 100%;
    display: block;
    background: rgb(0 0 0 / 15%);
    padding: 15px;
    color: #000000;
    border-radius: 8px;
    border: 1px solid rgb(0 0 0 / 15%);
}
