@use 'sass:math';
@use 'sass:color';
@import 'config';
@import 'lib';
@import 'general';
@import 'components/header';
@import 'components/btn';
@import 'components/team';
@import 'components/queue';
@import 'components/beatmap';
