.beatmap {
    background: theme("colors.background");
    overflow: hidden;
    border-radius: 8px;
    border: 1px solid #CCC;
    transition: 300ms;
    height: 100%;
    &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    }
    &-text {
        padding: 20px 10px;
    }
    &-image {
        width: 100%;
        height: auto;
        border-radius: 8px;
        min-height: 145px;
        object-fit: cover;
        object-position: center;
    }
    &-title {
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &-cover {
        position: relative;
    }

    &-view-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 10px;
        img {
            width: 20px;
        }
    }

    .mapper-comment {
        white-space: pre-wrap;
    }

    &-status {
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: theme("colors.background");
        border-radius: 8px;

        &-PENDING {
            background: #1b5583;
        }

        &-INVALID {
            background: #a61212;
        }

        &-ACCEPTED {
            background: #1e860d;
        }

        &-NOMINATED {
            background: #7b16b6;
        }

        &-HIDDEN {
            display: none;
        }
    }
}
