.btn {
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    line-height: 1;
    border: 0;
    cursor: pointer;

    &-primary {
        background: theme("colors.accent.DEFAULT");
        color: theme("colors.background");
        transition: 300ms;
        &:hover {
            background: theme("colors.accent.DEFAULT/80");
            // background: darken($accent_color, 5%);
            color: theme("colors.background");
        }
    }

    &-default {
        background: theme("colors.foreground");
        color: theme("colors.background");
        transition: 300ms;
        &:hover {
            background: theme("colors.accent.DEFAULT/80");
            // background: darken($text_color, 5%);
            color: theme("colors.foreground");
        }
    }
}

@media (max-width: 991px) {
    .btn {
        font-size: 16px;
    }
}
