.queue-form {
    max-width: 600px;
    margin: 30px auto;
    background: theme("colors.card.DEFAULT");
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

textarea.form-control {
    height: 100px;
    resize: vertical;
}

.queue-filter {
    margin: 30px auto;
    background: theme("colors.background");
    border: 1px solid theme("colors.border");
    padding: 10px;
    border-radius: 8px;

    .form-control {
        margin-bottom: 0;
    }

    .btn {
        padding: 13px;
    }
}
