.queue-request {
    .beatmap-image {
        border-radius: 8px;
    }

    &-beatmap,
    &-nominators-info {
        background: #FFF;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #CCC;
        transition: 300ms;
    }

    &-nominators-info {
        padding: 20px 10px;
    }

    .mapper-comment {
        white-space: pre-wrap;
    }

    .beatmap-cover {
        position: relative;
    }

    .beatmap-status {
        padding: 10px;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #FFF;
        border-radius: 8px;

        &-PENDING {
            background: #1b5583;
        }

        &-INVALID {
            background: #a61212;
        }

        &-ACCEPTED {
            background: #1e860d;
        }

        &-NOMINATED {
            background: #7b16b6;
        }

        &-HIDDEN {
            display: none;
        }
    }
}
